## virtual environment
.venv
venv

## python cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.eggs
cds_mcp/__pycache__/*


## typecheckers / linters ..etc
.mypy_cache
.ruff_cache
.cov
.coverage
coverage.xml

## all hidden folders and files
.*
!.env.example
!.github